* {
		        font-family: 'Comfortaa';
		    }
		    
			.rect {
			    border-radius: 10px;
				background-color: white;
				width: 10px;
				padding: 30px;
				text-align: center;
				
				/*Don't forget to set the border-style property first.*/
				border-style:dashed;
				border-color:#cbe5ff;
				position:absolute;
				top:390px;
				right:20px;
				color: #84befe;
			}
			
		.whole {
				position: absolute;
			    width: 980px; 
				margin: auto;
				margin-left: 50px;
				margin-right: 50px;
				margin-top:40px;
				padding-left: 40px;
				padding-right: 40px;
				padding-top:40px;
			    padding-bottom:40px;
			    height: 1300px;
			    background: linear-gradient(to top, #84befe, white); 
			}
				
			.preview {
			    background-color: #84befe;
			    width:575px;
			    height:200px;
			    margin-left: 120px;
			    text-shadow: 5px 5px 10px gray;
			    font-size: 90px;
			    color: white;
			    padding-bottom: 50px;
			    padding-top: 100px;
			   padding-left: 140px;
			   padding-right: 100px;
			   
			}
			.box {
			     box-shadow: 5px 5px 10px gray;
			    background-color:white;
			    width:200px;
			    height:200px;
			    position:absolute;
			    margin-top: 45px;
			}
			
			.header {
				display: hidden;
				width: 1000px;
				margin: auto;
			    height: 360px;
			}
			    
			 .container {
			 	width: 900px;
				margin: auto;
				margin-top:40px;
				background-color: white;
			 }
		
			.nav a {
				border-radius: 0px 15px 0px 0px;
				float: left;
				margin: auto;
				text-decoration:none;
				color:white;
				background-color: #84befe;
				padding: 10px;
				border-right:1px solid white;
				text-align:center;
				width: 159px;
			}
			
			.nav {
				width: 900px;
				background-color: white;
				margin-bottom: 40px;
				margin-top: 10px;
				margin-right: 5px;
				margin-right: 5px;
			}
			
			a:hover {
				background-color:white;
				color: #84befe;
			}
			
			.mid {
			 	width: 900px;
			 	height: 500px;
				margin-top:40px;
				background-color: white;
			 }
			 
			 .last {
					background-color: white;
					width: 880px;
					height: 320px;
					margin: auto;
					margin-top: 20px;
					float: left;
					padding: 10px;
			 }

			 
			 
			.left {
			    background-color:white;
			    width:420px;
			    height:300px;
			    position:absolute;
			    margin-top: 65px;
			    margin: auto;
				
				border-style: dashed;
				border-color: #84befe;
			 }
			 
			.left-head {
				font-size:30px;
				color: white;
				background: linear-gradient(to top, #84befe, lightblue);
				padding-top: 25px;
				border-radius: 0px 0px 20px 20px;
			    background-color: #84befe;
			    width:410px;
			    height:60px;
			    margin-left: 5px;
			    margin-top: 9px;
			}
			
			.right {
				background-color: white;
				width: 420px;
				height: 280px;
				margin: auto;
				margin-top: 1px;
				float: right;
				padding: 10px;
			    position:absolute;
			    margin-left: 435px;
			
				
				border-style: dashed;
				border-color: #84befe;
			 }
			 
			.right-head {
				font-size:30px;
				color: white;
				background: linear-gradient(to top, #84befe, lightblue);
				padding-top: 20px;
				border-radius: 0px 0px 20px 20px;
			    background-color: #84befe;
			    width:420px;
			    height:60px;
			    margin-left: 2px;
			    margin-top: 1px;
			}
			

			 
			 .footer {
			 	float: right;
			 	margin-top: 50px;
			 	color: white;
			 }
			